@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  color: inherit;
}

.light {
  background-color: #fff;
  color: #111;
}

.dark {
  background-color: #111;
  color: #fff;
}

.theme{
  transition: all ease 1s;
}

.theme-mobile{
  transition: all ease 0.2s;
}

.padding-x{
  padding: 0 8%;
}

.min-height{
  min-height: 100vh;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

